body{
	margin: auto;
	font-family: Verdana;
}

h1{
	font-size: 2em;
	text-align: center;
}

h2{
	font-size: 1.5em;
	padding: 15px;
}

.instruction{
	margin-top: 30px;
	float: left;
	width: 50%;
}

.text1{
	height: 100px;
	display: block;
	padding: 10px;
	border: 1px;
}
.text2{
	height: 100px;
	display: block;
	padding: 10px;
	border: 1px;
}
.text1:hover{
	background-color: green;
}
.text2:hover{
	background-color: red;
}

@media screen and (max-width: 900px){
.logo{
	width: 100%;
}
